@model IEnumerable<UsingStoredProcedureMVC.Models.getAllDetails_Result>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Tasks_Name
        </th>
        <th>
            name
        </th>
        <th>
            Salary
        </th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem =>item.Tasks_Name)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Salary)
            </td>
        </tr>
    }
</table>