@model IEnumerable<DBRelationshipsEF.OneToOneRelationship.Student>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    @foreach (var i in Model)
    {
    <tbody>
        <tr>
            <td>@i.StudentId</td>
            <td>@i.StudentName</td>
            <td>
                <button type="button" h class="btn btn-primary">EDIT</button>
                <button type="button" class="btn btn-danger">DELETE</button>
            </td>
        </tr>
    </tbody>
    }
    </table>