@model IEnumerable< UseSQLViewsWithEF.Models.OutstandingAndActiveProject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            DeveloperNAME
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.Developer_Name)
            </td>
        </tr>
    }
</table>

